<b>Stückliste exportiert aus E:/ESP_ART_NET/Layout/ESP_ART_NET.sch am 21.04.2016 12:09</b>
<p>
<table>
<tr><td><b>Qty</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Parts</b></td><td><b>Description</b></td><td><b></b></td></tr>
<tr><td>1</td><td></td><td>31-XX</td><td>B3F-31XX</td><td>S1</td><td>OMRON SWITCH</td><td></td></tr>
<tr><td>1</td><td></td><td>ESP8266MOD</td><td>ESP8266MOD</td><td>ESP1</td><td></td><td></td></tr>
<tr><td>1</td><td></td><td>JACK-PLUG1</td><td>SPC4078</td><td>J1</td><td>DC POWER JACK</td><td></td></tr>
<tr><td>2</td><td></td><td>LEDCHIPLED_1206</td><td>CHIPLED_1206</td><td>LED1, LED2</td><td>LED</td><td></td></tr>
<tr><td>1</td><td></td><td>PINHD-2X6</td><td>2X06</td><td>JP1</td><td>PIN HEADER</td><td></td></tr>
<tr><td>1</td><td>100</td><td>R-EU_R0805</td><td>R0805</td><td>R3</td><td>RESISTOR, European symbol</td><td></td></tr>
<tr><td>4</td><td>100n</td><td>C-EUC0805</td><td>C0805</td><td>C4, C5, C6, C7</td><td>CAPACITOR, European symbol</td><td></td></tr>
<tr><td>1</td><td>100µH</td><td>SLF7045</td><td>SLF7045</td><td>L3</td><td>SMD Inductors(Coils) For Power Line (Wound, Magnetic Shielded)</td><td></td></tr>
<tr><td>6</td><td>10k</td><td>R-EU_R0805</td><td>R0805</td><td>R8, R9, R10, R12, R13, R15</td><td>RESISTOR, European symbol</td><td></td></tr>
<tr><td>1</td><td>1A</td><td>PICOFUSE</td><td>PICOFUSE</td><td>F1</td><td>PICOFUSE</td><td></td></tr>
<tr><td>1</td><td>1Ohm</td><td>R-EU_0207/10</td><td>0207/10</td><td>R4</td><td>RESISTOR, European symbol</td><td></td></tr>
<tr><td>1</td><td>1k</td><td>R-EU_M0805</td><td>M0805</td><td>R6</td><td>RESISTOR, European symbol</td><td></td></tr>
<tr><td>1</td><td>1k6</td><td>R-EU_M0805</td><td>M0805</td><td>R5</td><td>RESISTOR, European symbol</td><td></td></tr>
<tr><td>2</td><td>220pF</td><td>C-EUC0805</td><td>C0805</td><td>C3, C8</td><td>CAPACITOR, European symbol</td><td></td></tr>
<tr><td>1</td><td>220µF10V</td><td>CPOL-EUE2.5-7</td><td>E2,5-7</td><td>C2</td><td>POLARIZED CAPACITOR, European symbol</td><td></td></tr>
<tr><td>1</td><td>220µF16V</td><td>CPOL-EUE5-8.5</td><td>E5-8,5</td><td>C1</td><td>POLARIZED CAPACITOR, European symbol</td><td></td></tr>
<tr><td>3</td><td>390</td><td>R-EU_R0805</td><td>R0805</td><td>R7, R11, R14</td><td>RESISTOR, European symbol</td><td></td></tr>
<tr><td>2</td><td>4,7</td><td>R-EU_R0805</td><td>R0805</td><td>R1, R2</td><td>RESISTOR, European symbol</td><td></td></tr>
<tr><td>1</td><td>ADM3483ARZ</td><td>SN65176D</td><td>SO-08</td><td>IC3</td><td>DIFFERENTIAL BUS TRANSCEIVER</td><td></td></tr>
<tr><td>1</td><td>MBRS140</td><td>DIODE-SMB</td><td>SMB</td><td>D8</td><td>DIODE</td><td></td></tr>
<tr><td>1</td><td>MBRS140</td><td>SCHOTTKY-DIODESMD</td><td>SMB</td><td>D7</td><td>Schottky Diode</td><td></td></tr>
<tr><td>1</td><td>MC34063AD</td><td>MC34063AD</td><td>SOIC8</td><td>IC1</td><td></td><td></td></tr>
<tr><td>1</td><td>MSTBA3</td><td>MSTBA3</td><td>MSTBA3</td><td>X1</td><td>PHOENIX</td><td></td></tr>
<tr><td>1</td><td>SMA</td><td>SMA-142-0701-801/806</td><td>J502-ND-142-0701-801/806</td><td>X2</td><td>SMA 50 Ohm End Launch Jack Receptacle - Round Contact</td><td></td></tr>
<tr><td>2</td><td>ZD5,1</td><td>PMLL4150</td><td>SOD80C</td><td>D1, D2</td><td>DIODE</td><td></td></tr>
</table>
